body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Arial';
    background-image: url('../Resources/bg01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: Black;
}

.login {
    width: 350px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #dcdcdc;
    border-radius: 15px;
}

h2 {
    text-align: center;
    color: White;
    padding: 20px;
}

label {
    color: black;
    font-size: 17px;
	padding-right: 223px;
}

#Uname {
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 8px;
}

#Pass {
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 8px;
}

button {
	width: 300px;
    height: 35px;
	font-size: 1.1em;
	font-weight: 700;
	border-radius: 17px;
    padding-left: 7px;
    color: white;
	cursor: pointer;
	
    background: -webkit-linear-gradient(right,#b721ff,#21d4fd);    
}

span {
    color: black;
    font-size: 17px;
}

a {
    float: right;
	color: black;
}