body {font-family: Garamond, serif;
background-image: url("loginbackground.jpeg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-blend-mode: screen;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover{
  opacity: 0.8;
}

.cancelbtn {
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

h1 {
    text-align:center;
}

h2 {text-align: center;}

.container {
  padding-left: 16px;
  padding-right: 31px;
  background-color: #f3e5ab;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}